fastapi
uvicorn
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
asyncpg
psycopg2-binary
cryptography
PyJWT
argon2-cffi
python-multipart
pytest
httpx
bcrypt
olefile
python-dotenv
pytest-asyncio
